dnt-cache/*
!dnt-cache/readme.txt
!dnt-cache/temp/readme.txt
!dnt-cache/plugins/readme.txt

dnt-backup/*
dnt-backup/readme.txt

dnt-api/dnt-cache/*
!dnt-api/dnt-cache/readme.txt

dnt-logs/*
!dnt-logs/readme.txt

dnt-view/data/*
dnt-view/layouts/*
!dnt-view/layouts/default

dnt-library/framework/_keys/secred.php

dnt-test/bkp/

dnt-jobs/data/*
!dnt-jobs/data/readme.txt

dnt-test/data/*
!dnt-test/data/readme.txt

nbproject/

push.sh
config_pro.dnt