/* Add here all your css styles (customizations) */

html body a:hover{
	text-decoration: none;
}

.bg-color-darker {
    background-color: #222 !important;
}

/* menu */
/*
@media screen and (min-width: 992px) {
	.header-v8 .navbar-nav > li > a {
		padding: 10px;
		line-height: 67px;
	}
}*/


.header-v8 .navbar-brand img.logo {
    height: 45px;
    margin-left: 48px;
	margin-top: 20px;
}

.header-v8.header-fixed-shrink  .navbar-brand img.logo {
    margin-top: 8px;
}

@media screen and (max-width: 990px) {
	.header-v8 .dropdown-menu {
		border-top: solid 0px #72c02c !important;
	}
	.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
	    overflow-x: hidden;
    outline: 0;
}
	.dropdown-menu {
		position: relative;
		top: 100%;
		left: 0;
		z-index: 1000;
		display: block;
		float: none;
		min-width: 160px;
		padding: 5px 0;
		margin: 2px 0 0;
		font-size: 14px;
		text-align: left;
		list-style: none;
		background-color: #fff;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		border: 0px solid #ccc;
		border: 0px solid rgba(0,0,0,.15);
		border-radius: 4px;
		-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.175);
		box-shadow: 0 6px 12px rgba(0,0,0,0);
	}
}

/* nav */
.header-v8 .navbar-brand {
    height: auto;
    padding: 5px;
	line-height: 0px;
}

/* hp slider */
/* custom slider stzle*/
.blog-slider .blog-slider-title {
    left: 0;
    z-index: 1;
    bottom: 20px;
    padding: 0px;
    position: absolute !important;
    background-color: #111111;
    padding-bottom: 0px;
    margin-bottom: -20px;
    opacity: 0.6;
    width: 100%;
	    cursor: pointer;
}

.blog-slider .blog-slider-title h2 {
    margin: 0;
    color: #fff;
    font-size: 38px;
    font-weight: 600;
    line-height: 1.4;
    padding: 0px 20px;
}


.blog-slider span.blog-slider-badge {
    cursor: pointer;
}


@media screen and (max-width: 1366px) {
	#masterslider {
		zoom: 0.6;
	}
}

@media screen and (max-width: 800px) {
	.blog-slider .blog-slider-title h2 {
		font-size: 28px;

	}
}

@media screen and (max-width: 400px) {
	.blog-slider .blog-slider-title h2 {
		font-size: 18px;

	}
}

/* microslider */
.microslider-wrapper{
	width: 100%;
    height: 500px;
    background-color: #000;
    opacity: 0.9;
	background-size: cover;
	position: relative;
}

.microslider-wrapper .page-name-wrapper{
    top: 50%;
    width: 1000px;
    position: relative;
    margin: 0px auto;
	display: none;
}

.microslider-wrapper .page-name{
    font-size: 45px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
    background: #111111;
	opacity: 0.9;
	/*background: url('../img/bar.png');*/
    width: auto;
    padding: 5px;
    border-radius: 3px;
}


.microslider-wrapper .arrow-left {
	width: 0;
    height: 0;
    border-top: 160px solid transparent;
    border-bottom: 80px solid transparent;
    border-right: 135px solid #c05660;
    bottom: -52px;
    left: -70px;
    position: absolute;
    -ms-transform: rotate(7deg);
    /* -webkit-transform: rotate(7deg); */
    transform: rotate(-31deg);
    overflow: hidden;
}

@media screen and (max-width: 1000px) {
	.microslider-wrapper .microslider-wrapper{
		height: 400px;
	}
}

@media screen and (max-width: 700px) {
	.microslider-wrapper{
		display: none;
	}
}



/* home page items */

.col-md-12.homepage{
	margin: 60px 0px;
}

.homepage-items h3 a{
	font-size: 30px;
}

.homepage-items p{
	font-size: 15px;
}

.masonry-box.homepage-items{
	padding: 10px;
}

.masonry-box.homepage-items .r-more {
    font-size: 15px;
    border-bottom: 0px;
    margin: 0px auto;
    border: 1px #cecece solid;
    padding: 10px 17px;
    position: absolute;
    bottom: 0px;
    font-style: normal;
    text-transform: uppercase;
	    margin-left: 5%;
}
.masonry-box.homepage-items .r-more:hover {
	background-color: #cecece;
	color: #000;
}


@media screen and (max-width: 1200px) {
	.masonry-box .masonry-box-in.col-4 {
		width: 50%;
		height: 240px;
	}
}


.jazyky ul li{
	float: left;
	list-style: none;
}
.jazyky img{
	height: 15px;
	margin: 5px;
}


@media screen and (max-width: 1200px) {
		 .masonry-box.homepage-items .r-more {
		position: relative;
		margin-left: auto;
	}
}

@media screen and (max-width: 650px) {
	.masonry-box .masonry-box-in.col-2, .masonry-box .masonry-box-in.col-3, .masonry-box .masonry-box-in.col-4 {
		width: 100%;
	}
}

.col-md-9.main-content{
	padding: 10px;
}

.col-md-9.main-content h2{
	font-size: 28px;
	margin-top: -8px;
	margin-bottom: 50px;
}

.col-md-9.main-content p{
	font-size: 14px;
	line-height: 1.8;
	margin-left: 5px;
}


.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/* PERSONAL */
.blog-grid h3 {
    font-size: 25px;
	font-size: 24px;
    margin: 0 0 10px;
    line-height: 1.4;
    color: #72c02c;
}

/* PRODUKTY */
.produkty .blog-grid h3 {
    font-size: 20px;
}
.produkty{
	height: auto;
	    min-height: 350px;
	padding: 0px;
}

.produkty .blog-grid{
	padding: 0px 5px;
}

.produkty .blog-grid img{
	padding: 0px 5px;
	overflow: hidden;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition:    all 0.3s ease;
	-o-transition:      all 0.3s ease;
	-ms-transition:     all 0.3s ease;
	transition:         all 0.3s ease;
}

.produkty img:hover{
	padding: 0px;
	overflow: hidden;
}










/* partneri */
.partner-img{
	float: left;
	height: 50px;
    margin: 40px;
    text-align: center;
	display: block;
	box-sizing: border-box;
}

/* error */
label.error{
	color: #cc0000;
}

/* article view */

.article-view{
	padding: 0px 10px;
    /*line-height: 1px;*/
    padding-right: 20px;
}


/* kontakt */
.sidlo-a-pobocka{
	font-size: 16px;
    color: #111;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
}

/*
.col-md-9.main-content .article-view p {
    font-size: 14px;
    line-height: 1.3;
    margin-left: 5px;
}
*/
/*
.article-view p{
	text-align: center;
}
*/

/* vypnutie fotiek v kontakte */
.blog-grid.personal img {
    display: none;
}

/* polls */
.dnt-poll.panel-primary {
    border: 0px;
}

.dnt-poll .list-group-item {
	border: 0px solid #111;
}

.dnt-poll label {
    color: #111;
	font-size: 14px;
}

.panel-primary>.panel-heading {
    color: #fff;
	background-color: #111111;
    border-color: #111111;
}

.dnt-poll  .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    color: inherit;
    padding: 10px 0px;
    font-weight: normal;
}


